.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recipesBlock {
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}